.iconContainer img {
  width: 96px;
  height: auto;
}
.iconContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconContainer p {
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: var(--purple-smooth);
  color: white;
  padding: 8px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  transition: opacity 200ms ease-out;
}
.iconContainer p.infoShown {
  opacity: 1;
}
.iconMapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.container {
  display: flex;
  gap: 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 96px;
}
.objectiveList {
  max-width: 70ch;
  font-size: 18px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .iconMapper {
    gap: 24px;
  }
}
