:root {
  --background: #130f40;
  --foreground: #ededed;
  --purple-smooth: #1f1b4a;
  --purple-smoothest: #2b2753;
  --purple-smoothest-blur: #2b275304;
  --red: #eb4d4b;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.8rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 200ms ease-out;
}
a:hover {
  color: var(--red);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 100;
}
@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 900;
}
